@font-face {
    font-family: "Calculator";
    src: url("./fonts/Calculator.ttf");
}

@font-face {
    font-family: "Ubuntu";
    src: url("./fonts/Ubuntu-Regular.ttf");
}

#input, #output {
    font-family: "Calculator";
}

body {
    font-family: "Ubuntu";
}